body {
    background-color: rgb(255, 62, 62);
    text-align: center;
    color: rgb(57, 59, 65);
    font-family: Arial, Helvetica, sans-serif;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgb(255, 62, 62);
    margin: 1em 0;
    padding: 0; 
    
    
}
button {
    margin-top: 10px;
}
h2 {
    color: rgb(255, 62, 62);
    font-family: 'Pacifico', cursive;
}

h1 {
    font-family: 'Pacifico', cursive;
    margin-top: 50px;
    margin-bottom: 50px;
    color: white;
    font-size: 8rem;
    
}
.message {
    color: white;
    font-family: 'Pacifico', cursive;
    font-size: 2rem;
    margin-top: 20px;
}

ul {
    list-style: none;
    text-align: left;
    font-size: 1rem;
    padding: 0;
}

#eatenBurger {
   
    margin-top: 50px;
    background-color: rgb(255, 242, 128);
    border-radius: 10px;
    
}

#newBurger {
    
    margin-top: 50px;
    background-color: rgb(255, 242, 128);;
    border-radius: 10px;  
}